body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #003F52;
    color: #FEFEFA;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li .menu {
    color: #FEFEFA;
    text-decoration: none;
    margin: 0px;
}

nav ul li .icon {
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

section, div {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    padding: 1%;
    /* border: 1px solid #0081A7; */
    /* border-radius: 5px; */
    /* border-top: 1px solid #0081A7; */
    /* border-right: 1px solid #0081A7; */
    /* border-left: 1px solid #0081A7; */
    margin: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#about {
    border: 1px solid #0081A7;
    border-radius: 5px;
}

#career {
    background-color: #F0F8FA;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: 1;
    min-width: 30%;
}

.uni {
    /* border: 1px solid #0081A7; */
    margin-top: 20px;
}

footer {
    background-color: #2D2D2A;
    color: #FEFEFA;
    text-align: center;
    padding: 10px 0;
}

h2, h3, h4 {
    flex: 0 0 100%; /* This will make the heading take up the full line */
    margin-bottom: -4px;
    margin-top: 0px;
}

h2, h3 {
    border-bottom: 1px solid #0081A7;
    padding-bottom: 5px;
}

div p {
    flex: 0 0 100%; /* This will make the heading take up the full line */
    margin-bottom: -5px;
}

.item {
    flex: 1 0 40%;
}

/* #work-current {
    flex: 2 0 80%;
} */

#career {
    flex: 2 0 80%;
}

#projects, #contact {
    flex: 3 0 80%;
}

ul {
    padding: 1.2em; /* Remove padding */
    padding-top: 0;
    margin-bottom: 0; /* Remove margin */
}

li {
    margin-left: 0; /* Remove left margin for list items */
    margin-bottom: 10px;
}

a {
    color: #2D2D2A;
    text-decoration: none;
}

a:visited {
    color: #2D2D2A;
    text-decoration: none;
}

a:hover {
    color: #0081A7;
}

.quote {
    font-style: oblique;
    text-align: center;
}